<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /electronic-shop/

    # Redirect Trailing Slashes...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.+)/$ /$1 [L,R=301]

    # Remove index.php from URL
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]

    # Block direct access to certain files
    <Files "index.php">
        Order Deny,Allow
        Deny from all
        Allow from all
    </Files>
</IfModule>

<IfModule !mod_rewrite.c>
    ErrorDocument 404 /index.php
</IfModule>